/* The alert message box */
.alert {
    padding: 20px;
    background-color: var(--red); 
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 20px;
}

.alert.hidden {
    opacity: 0;
}

  
/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}