video{
    display: block;
    border: var(--dark) 1px solid;
    border-radius: 10px;
    height: 80%;
    width: 90%;
    object-fit: cover;
    background-color: var(--dark-transparent);
    flex-grow: 1;
    flex-shrink: 1;
}

video:hover{
    background-color: var(--dark);    
    cursor: pointer;
}

.videoGroup{
    display: flex;
    flex-direction: column;
    max-height: 200px;
    max-width: 400px;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.videoGroup:hover{
    filter: grayscale(100%);
}