body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
}

section{
    padding: 20px;
    width: 100%;
    height: 90%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 20px;
}

select{
    width: fit-content;
    justify-self: end;
    
    grid-column: 2;
    grid-row: 1;
}

article{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#courses{
    grid-column: 1/3;
    grid-row: 2;
}

#palette{
    grid-column: 1;
    grid-row: 3;
}

#clothes{
    grid-column: 2;
    grid-row: 3;
}

.coursesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.palettesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.palette{
    display: flex;
    width: 100px;
    height: 100px;
}

.paletteItem{
    display: block;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
}

table{
    width: 100%;
}