<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Cursos</title>
    <link rel="shortcut icon" href="/resources/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/adminTable.css">

    <!-- Boostrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script type="module" src="/js/coursesTeacher.js"></script>
</head>
<body>
    <header>
        <div class="logo small">
            <img src="/resources/images/logo.png">
            <h1>Smart Closet</h1>
        </div>

        <button class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </button>

        <nav>
        </nav>

        <a class="userZone">
            <img>
            <p></p>
        </a>
    </header>
    <section>
        <table>
            
        </table>

        <button class="btn dark add"> <i class="bi bi-plus-lg"></i> </button>
    </section>

    <div class="popupContainer">
        <button class="exit" value="exit">x</button>
    </div>
    
</body>
</html>