<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugerencias</title>
    <link rel="shortcut icon" href="/resources/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/individualCourse.css">

    <script type="module" src="/js/individualCourse.js"></script>
</head>
<body>
    <header>
        <div class="logo small">
            <img src="/resources/images/logo.png">
            <h1>Smart Closet</h1>
        </div>

        <button class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </button>

        <nav>
        </nav>

        <a class="userZone">
            <img>
            <p></p>
        </a>
    </header>

    <section>
        <h3></h3>
        <article>
            <video controls autoplay></video>
            <div class="videoData">
                <div>
                    <h4>Descripción</h4>
                    <p></p>
                </div>

                <button class="btn dark">Marcar como visto</button>
            </div>
        </article>
    </section>
</body>
</html>